[submodule "dex2/lib/forge-std"]
	path = dex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dex2/lib/openzeppelin-contracts"]
	path = dex2/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "dex2/dex2/lib/forge-std"]
	path = dex2/dex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "puzzle-wallet/lib/openzeppelin-contracts"]
	path = puzzle-wallet/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "motorbike/lib/forge-std"]
	path = motorbike/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "motorbike/lib/openzeppelin-contracts"]
	path = motorbike/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "motorbike/lib/openzeppelin-upgrades"]
	path = motorbike/lib/openzeppelin-upgrades
	url = https://github.com/openzeppelin/openzeppelin-upgrades
[submodule "double-entrypoint/lib/forge-std"]
	path = double-entrypoint/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "double-entrypoint/lib/openzeppelin-contracts"]
	path = double-entrypoint/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
