[submodule "dex2/lib/forge-std"]
	path = dex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dex2/lib/openzeppelin-contracts"]
	path = dex2/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
